*{
	margin:0;
	padding:0;
}
.content{
	width:99%;
	border:1px solid #999;
}
.mydiv{
	padding:20px;
	background-color:#eee;
	border:1px solid #999;
}
.mydiv:after{
	content:'.';
	display:block;
	visibility: hidden;
	height:0px;
	clear:both;
}
.left{
	float:left;
	width:200px;
	height:120px;
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
	border:1px solid #999;
	background:#fff;
}
.right{
	float:right;
	width:120px;
	background:#fff;
	border:1px solid #999;
}
.center{
	margin-left:220px;
	margin-right:140px;
	background:#fff;
	border:1px solid #999;
}
.left img{
	width:80px;
	height:80px;
	border:2px solid #999;
}
.left span{
	width:80px;
	height:80px;
	text-align:center;
}
.right img{
	display: block;
	width:80px;
	height:80px;
	margin:20px;
	border:2px solid #999;
}
.mydiv p{
	text-indent:2em;
}