*{
	margin:0;
	padding:0;
}
.paper{
	width:960px;
	height:1386px;
	margin:0 auto;
	
}
nav{
	width:892px;
	border-bottom:2px solid #938e8c;
}
.nav-front{
	display:inline-block;
	width:110px;
	height:61px;
	background:pink;
	font:12px  黑体;
	color:#ffffff;
}
.group{
	vertical-align:bottom;
}
.group:before{
	content:'.';
	height:100%;
	font-size:0px;
	visibility:hidden;
	display:inline-block;
	vertical-align:bottom;
}
.nav-end{
	display:inline-block;
	font:12px #d45d5c 黑体;
	float:right;
	height:61px;
}
.layer1{
	width:892px;
	height:301px;
	margin-top:20px;
	display:flex;
	justify-content:space-between;
}
.layer1-left{
	width:641px;
	height:301px;
	position:relative;
}
.layer1-left:before{
	content:" ";
	width:191px;
	height:301px;
	background:green;
	opacity:0.5;
	display:inline-block;
	position:absolute;
	z-index:2;
}
.layer1-left:after{
	content:" ";
	width:191px;
	height:301px;
	background:pink;
	opacity:0.5;
	display:inline-block;
	position:absolute;
	right:0px;
	z-index:2;
}
.layer1-right{
	width:203px;
	height:301px;
	border-top:2px solid #cc8091;
}
.layer1-right a{
	font:24px 微软雅黑;
	display:block;
	color:#000000;
}
.layer1-right .right2{
	font:12px 黑体;
	color:#676767;
}
.layer1-right .right2 p{
	margin-top:5px;
}
.layer1-right .right3{
	font:116px  微软雅黑;
	font-style:italic;
	width:203px;
	color:#75b86b;
	line-height:116px;
}
.layer1-right .right4  div{
	display:inline-block;
	color: #cc8091;
}
.layer1-right .right4 div:first-child{
	font:55px 微软雅黑;
}
.font1,.font2{
	display:block;
}
.font1{
	font:21px  微软雅黑;
}
.font2{
	font:12px  微软雅黑;
}

.layer2{
	width:641px;
	display:flex;
	margin-top:20px;

}
.layer2 a{
	display: block;
	font:16px 微软雅黑;
	font-weight:bold;
	text-decoration:underline;
	
}
.layer2 .pass1{
	flex: 0.4;
	margin-right:16px;
}
.layer2 .pass2{
	flex:0.3;
}
.layer2 .pass3{
	flex:0.3;
}
.layer2  p{
	margin-top:16px;
}
.layer2 .pass1 a{
	color:#418c59;
} 
.layer2 .pass2 a{
	color:#d2994f;
}
.layer2 .pass3 a{
	color:#cc7680;
}
.layer3{
	width:415px;
	display: flex;
	justify-content:space-between;
}
.layer3 .layer3-left-top{
	border-bottom:2px solid #11456b;
	width:415px;
}
.the{
	font:72px 黑体;
	color:#f5e327;
	font-weight:bold;
	font-style:italic;
	margin-right:16px;
}

.layer3 .layer3-left-top p:first-child{
	font:42px 黑体;
	color:#11456b;
	font-weight:bold;
	margin-bottom:16px;
}
.layer3 .layer3-left-top p:last-child{
	font:35px 黑体;
	color:#11456b;
	font-weight:bold;
}
.layer3 .layer3-left-bottom p{
	margin-top:16px;
	font:12px 宋体;
	color:#767777;
}
.lc{
	float:left;
	font:70px 微软雅黑;
	color:#f5e327;
}
.layer3 .layer3-left-bottom img{
	float:right;
}
.layer3 .layer3-right-top{
	width:458px;
	height:275px;
	position:relative;
}
.layer3 .layer3-right-top .imgcover{
	width:458px;
	height:61px;
	position:absolute;
	bottom:0px;
	left:0px;
	background:#444;
	opacity:0.7;
}
.layer3 .imgcover-center{
	width:80%;
	height:44px;
	position:absolute;
	padding-left:10px;
	z-index:2;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	border-left:3px solid #72b16a;
}
.layer3 .layer3-right{
	margin-left:20px;
}
.layer3 .imgcover-center .middle{
	font:26px solid 微软雅黑;
	color:#ffffff;
}
.layer3 .imgcover-center .sub{
	color:#72b16a;
	font:italic 12px solid 微软雅黑;
	word-spacing:140%;
}
.layer3 .layer3-right-bottom{
	width:459px;
	height:318px;
	background:#ccc;
	opacity:0.5;
	padding-top:20px;
	position:relative;
}
.layer3 .layer3-right-bottom >p{
	font:16px 宋体;
	text-align:left;
	list-style:inside;
	list-style-type:none;
	margin-bottom: 20px;
	text-align:center;
}
.layer3 .layer3-right-bottom >p:before{
	content:"";
	width:0px;
	height:0px;
	border:5px solid black;
	border-left-color:transparent;
	border-right-color:transparent;
	border-top-color:transparent;
	border-bottom: 5px solid black;
	display: inline-block;
	vertical-align: middle;
}
.layer3 .layer3-right-bottom .layer3-right-bottom-down{
	position: absolute;
	left:0px;
	bottom:0px;
	width:260px;
	height:160px;
	background:darkred;	
}
.down_container_left{
	width:95%;
	height:86px;
	position: absolute;
	left:0px;
	bottom:0px;
	right:0px;
	top:0px;
	margin:auto;
	display:flex;
}
.down_left{
	display: inline-block;
	vertical-align: middle;
	font:110px 微软雅黑;
	color:#ffffff;
	height:86px;
	padding:0px;
	line-height: 86px;
	border-right:2px solid #ffffff;
}
.down-right{
	display: inline-block;
	font:12px 黑体;
	color:#ffffff;
	margin-top:6px;

}
.down_right_font1{
	font:21px 黑体;
	color:#ffffff;
}
.down_right_font2{
	font:12px 黑体;
	color:#ffffff;
}
.down_right >p{
	margin-top:6px;
	margin-left:6px;
}
.down_containe_right{
	position:absolute;
	right:0px;
	bottom:0px;
	height:160px;
	width:180px;
	font:italic 14px 黑体;
	color:#5a5b5b;
}
.down_containe_right > span{
	font:72px 黑体;
	padding:0;
	margin:0;
	padding:0;
	color:#d45d5c;
}
footer{
	padding:0;
	margin:0;
	border-top:1px solid #938e8c;
	width:892px;
	text-align:right;
	font:12px 黑体;
	color:#d45d5c;
	margin-top:20px;
}


