*{
		margin:0;
		padding:0;
	}
	.pic{
		position:relative;
	}
	.pic img{
		width:100%;
		height:500px;
		border:1px solid silver;
	}
	.pic .try{
		position:absolute;
		left:85px;
		bottom:100px;
		padding:10px 0px;
		background:pink;
		opacity:0.9;
	}
	.num {
	
		color:#ffffff;
		margin:20px 0px;
		position:absolute;
		top:20px;
		left:85px;
	}
	.num #s1{
		font:60px 풕턼환쥌;
	}
	.num #s2{
		font:12px 풕턼환쥌;
	}
	.pic .try span{
		font:18px 풕턼환쥌;
		color:#ffffff;
		letter-spacing:3px;
		padding:20px 30px;
	}
	#second{
		width:100%;
		height:100px;
		margin:20px;
	}
	#second .first,.second,.third,.fourth{
		width:25%;
		text-align:center;
		float:left;
		
	}
	#second p{

		border-right:1px solid black;
		height:40px;
		padding:10px 20px;
		margin:20px 0px;
	}
	#second .fourth p{
		height:40px;
		border-right:none;
		padding:10px 20px;
		margin:20px;
	}
	#third{
		width:100%;
		height:200px;
		background:silver;
		position:relative;
	}
	#third .content img{
		position:absolute;
		top:10%;;
		left:50%;
		margin:0 auto;
	}
	#third p{
		padding:80px;
		text-align:center;
		font:42px 풕턼환쥌;
		color:#ffffcc;
	}
	#fourth{
		background:#dd9900;
		width:100%;
		height:200px;
	}
	#fourth p:first-child{
		padding:20px 0 10px 0;
		text-align:center;
	}
	#fourth .second{
		width:100%;
		padding:20px 0 30px 0;
		text-align:center;
	}
	#fourth .sel1,.sel2,.sel3{
		width:20%;
		height:20px;
		margin:0 20px;
		float:left;
	}
	#fourth .sel4{
		float:left;
		width:20%;
		height:20px;
		margin:0  0 0;;
		background:red;
		letter-spacing:12px;
		font:12px 풕턼환쥌;
		text-align:center;
	}
	#five{
		margin:20px 20px 0 20px;
		width:100%;
		height:300px;
		
	}
	#five .five-1,.five-2,.five-3,.five-4{
		width:20%;
	}
	#six{
		width:100%;
		height:400px;
		border:1px double silver;
		position:relative;
	}
	#six .first{
		float:left;
		width:70%;
		height:400px;
		position:relative;
	}
	#six .second{
		float:left;
		background:silver;
		height:100%;
		width:30%;
		position:relative;
	}
	#seven{
		width:100%;
		height:300px;
		position:relative;
	}
	#eight{
		width:100%;
		height:200px;
	
	}
	#nine{
		width:100%;
		height:400px;
		position:relative;
	}
	#ten{
		width:100%;
		height:415px;
		background-color:#333635;
		color:white;
		text-align:center;
		position:relative;
	}
	.menu li {
	border-bottom:2px solid white;
	display:inline-block;
	font:16px Microfost Yahei ;
	line-height:38px;
	margin:10px 10px;
	text-align:center;
	color:#797a7b;
	}
	
	.menu li:hover{
		border-bottom:2px solid red;
	}